<ion-content>
  <div class="container">
    <div class="title">
      <h1>Setup Your Team</h1>
    </div>
    
    <div class="imageUploads">

      <div class="backimage">
        <p>Upload Team Logo</p>
        <img src="{{GJerseyImage}}" alt="" class="bimage">
        <div class="btn">
          <ion-button (click)="selectLogoImage()">
              <ion-icon name="add"></ion-icon>
          </ion-button>
        </div>
      </div>
      <div class="backimage" >
        <p>Upload Team Jersey</p>
        <img src="{{TjerseyImage}}" alt="" class="bimage">
        <div class="btn">
            <ion-button (click)="teamJersey()">
                <ion-icon name="add"></ion-icon>
            </ion-button>
        </div>
      </div>
      <div class="backimage" >
        <p>Upload GoalKeeper Jersey</p>
        <img src="{{GJerseyImage}}" alt="" class="bimage">
        <div class="btn">
            <ion-button (click)="GoalKeeperJersey()">
                <ion-icon name="add"></ion-icon>
            </ion-button>
        </div>
      </div>


    </div>
    <div class="form">
      <div class="text-label">
        <div class="text">
          <p>Team Info</p>
        </div>
        <div class="decor">
          <div class="line"></div>
        </div>
      </div>
      <form [formGroup]="addTeamForm">

          <ion-input type="text" formControlName="teamName" [(ngModel)]="teamNode.teamName" ngDefaultControl
            placeholder="Team Name"></ion-input>

        <div class="error" *ngFor="let validate of validation_messages.teamName">
          <div class="messages" style="color:red"
            *ngIf="addTeamForm.get('teamName').hasError(validate.type) && (addTeamForm.get('teamName').dirty || addTeamForm.get('teamName').touched)">
            <p>{{validate.message}}</p>
          </div>
        </div>

          <ion-input type="text" formControlName="coachName" [(ngModel)]="teamNode.coachName" ngDefaultControl
            placeholder="Coach name"></ion-input>

        <div class="error" *ngFor="let validate of validation_messages.coachName">
          <div class="messages" style="color:red"
            *ngIf="addTeamForm.get('coachName').hasError(validate.type) && (addTeamForm.get('coachName').dirty || addTeamForm.get('coachName').touched)">
            <p>{{validate.message}}</p>
          </div>
        </div>
        <!-- / ================================ -->

          <ion-input type="text" formControlName="region" [(ngModel)]="teamNode.region" ngDefaultControl
            placeholder="Region"></ion-input>
   
        <div class="error" *ngFor="let validate of validation_messages.region">
          <div class="messages" style="color:red"
            *ngIf="addTeamForm.get('region').hasError(validate.type) && (addTeamForm.get('region').dirty || addTeamForm.get('region').touched)">
            <p>{{validate.message}}</p>
          </div>
        </div>
        <!-- /
             -->
  
          <ion-input type="tel" maxLength="10" formControlName="tel" [(ngModel)]="teamNode.tel"
            placeholder="Contact Number"></ion-input>
   
        <div class="error" *ngFor="let validate of validation_messages.tel">
          <div class="messages" style="color:red"
            *ngIf="addTeamForm.get('tel').hasError(validate.type) && (addTeamForm.get('tel').dirty || addTeamForm.get('tel').touched)">
            <p>{{validate.message}}</p>
          </div>
        </div>


        <br>
<div class="buttoning">
  <!--  [disabled]="!addTeamForm.valid" -->
    <ion-button color="success" shape="round" id="skip" (click)="createTeam(addTeamForm)" type="submit" ion-button
    >
    Add Team</ion-button>
</div>
      </form>
    </div>
  </div>

</ion-content>