<ion-content>
<div class="container">
    <div class="title">
        <div class="back">
          <ion-fab-button size="small" color="clear" style="margin: 0;">
            <ion-icon name="arrow-back"></ion-icon>
          </ion-fab-button>
        </div>
        <div class="t">
          <p>Add Squad</p>
        </div>
      </div>
      <div class="squadPreview">
        <div class="nopplayer" *ngIf="players.length==0" >
            <div class="p">
                <p>No Player in your team. Fill the form then add player.</p>
                <p><sub>Added Players will be previewed here. Click on card to edit.</sub></p>
            </div>
        </div>
        <div class="card" *ngFor="let item of players" >
          <img src="https://image.businessinsider.com/5c13e188b3c21d151e336e54?width=1200&format=jpeg">
          <div class="details">
            <div>
                <p style="font-size: 4vw;"><b>{{i.docdata.fullName}}</b></p>
                <p><b>{{i.docdata.DOB | date}}</b></p>
                <p>{{i.docdata.playerPosition}}</p>
                <p>{{i.docdata.height}}</p>
                <p>{{i.docdata.previousTeam}}</p>
                <p >{{i.docdata.Achievements}}</p>
                <!-- <p *ngIf="i.docdata.Achievements.length>0"><li *ngFor="let F of i.docdata.Achievements" >{{F}}</li></p> -->
            </div>
          </div>
        </div>
      </div>
    
      <div class="backimage" >  
        
        <img *ngIf="playerNode.palyerImage"  src="{{playerNode.palyerImage}}" class="bimage">
        <div class="btn" *ngIf="!playerNode.palyerImage">
          <ion-button (click)="selectImage()">
              <ion-icon name="image"></ion-icon>
          </ion-button>
        </div>
      </div>
    
      <form [formGroup]="addPlayerForm">
        <ion-item>
            <ion-label position="floating">Full Name</ion-label>
          <ion-input type="text" formControlName="fullName" [(ngModel)]="playerNode.fullName" ngDefaultControl></ion-input>
        </ion-item>
        <div class="error" *ngFor="let validate of validation_messages.fullName">
          <div class="messages" style="color:red"
            *ngIf="addPlayerForm.get('fullName').hasError(validate.type) && (addPlayerForm.get('fullName').dirty || addPlayerForm.get('fullName').touched)">
            <p>{{validate.message}}</p>
          </div>
        </div>
    
        <ion-item>
            <ion-label position="floating">Position</ion-label>
          <ion-select formControlName="playerPosition" [(ngModel)]="playerNode.playerPosition">
            <ion-select-option *ngFor="let g of position" [value]="g.value">{{g.label}} </ion-select-option>
          </ion-select>
        </ion-item>
        <!-- / ================================ -->
        <ion-item>
          <ion-label position="floating">Date of Birth</ion-label>
          <ion-datetime formControlName="DOB" [(ngModel)]="playerNode.DOB" ngDefaultControl displayFormat="MM/DD/YYYY"
            min="1970-03-14" max="{{date}}"></ion-datetime>
        </ion-item>
        <!-- / ================================ -->
        <ion-item>
            <ion-label position="floating">Previous Team</ion-label>
          <ion-input type="text" formControlName="previousTeam" [(ngModel)]="playerNode.previousTeam" ngDefaultControl></ion-input>
        </ion-item>
        <div class="error" *ngFor="let validate of validation_messages.previousTeam">
          <div class="messages" style="color:red"
            *ngIf="addPlayerForm.get('previousTeam').hasError(validate.type) && (addPlayerForm.get('previousTeam').dirty || addPlayerForm.get('previousTeam').touched)">
           <p> {{validate.message}}</p>
          </div>
        </div>
        <!-- /
         -->
        <ion-item>
            <ion-label position="floating">Height</ion-label>
          <ion-input type="tel" maxLength="10" formControlName="height" [(ngModel)]="playerNode.height"></ion-input>
        </ion-item>
        <div class="error" *ngFor="let validate of validation_messages.height">
          <div class="messages" style="color:red"
            *ngIf="addPlayerForm.get('height').hasError(validate.type) && (addPlayerForm.get('height').dirty || addPlayerForm.get('height').touched)">
           <p> {{validate.message}}</p>
          </div>
        </div>
        <!-- //
     -->
        <div class="achievements" formArrayName="Achievements">
          <div class="btn">
              <ion-button (click)="addNew()" size="small" shape="round" color="success">
                  Add Achievement</ion-button>
          </div>
          <ion-item *ngFor="let ach of Achievements.controls;let i=index">
            <ion-label position="floating">Achievement <ion-badge color="primary"> {{i+1}}</ion-badge> </ion-label>
            <ion-input type="text" [formControlName]="i"></ion-input>
            <div class="closer">
                <ion-button (click)="remove()" size="small" color="danger" shape="round">
                    <ion-icon slot="icon-only" name="close"></ion-icon>
                  </ion-button>
            </div>
          </ion-item>
        </div>
    
        <br>
        <div class="subButton" style="width: 100%;">
          <div class="btn" style="text-align: center;">
              
             <ion-button *ngIf="!buttonChange" color="success" shape="round" id="skip" (click)="createTeam(addPlayerForm)" type="submit" [disabled]="!addPlayerForm.valid" ion-button
          >
          Add Player</ion-button>
          <ion-button *ngIf="buttonChange" color="success" shape="round" id="skip" (click)="editPlayer(addPlayerForm)" type="submit" [disabled]="!addPlayerForm.valid" ion-button
          >
          Edit Player</ion-button>
          <ion-button color="clear" shape="round" id="skip" (click)="done()" type="submit"  ion-button
              >
              Done</ion-button>
          </div>
        </div>
        
      </form>
</div>
</ion-content>