<ion-header>
  <ion-toolbar>
    <ion-title>manageTeam</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
<div *ngIf=" !isTeam">
no team please add team <ion-button (click)="addTeam()"> add team</ion-button>
</div>
<div *ngIf="isTeam">
<p>
  {{display.teamName}}
</p>
<div>
  <ion-list  ngFor="let x of players">
    <ion-item>
      <!-- <ion-label>{{x.fullName}}</ion-label> -->
      <!-- <ion-input></ion-input> -->
    </ion-item>
  </ion-list>
</div>
<ion-button (click)="addPlayer()"> add players</ion-button>
</div>
</ion-content>
