<ion-content>

  <div class="head">
    <div class="title">
      <div class="close">
        <ion-fab-button size="small" shape="round" color="clear" style="margin: 0;">
          <ion-icon name="home"></ion-icon>
        </ion-fab-button>
      </div>
      <div class="t">
        <h5>Team Name</h5>
      </div>
    </div>
    <div class="details">
      <div class="d"><p>Based in Region</p>
        <p>0123654789</p></div>
    </div>
  </div>
  <div class="teamList">
    <div class="label">
      <p>Squad</p>
      <ion-button style="margin: 0;" size="small" shape="round" (click)="addPlayer()"> Add Team </ion-button>
    </div>
    <div class="list">
  <div *ngIf=" isTeam">
    no team please add team <ion-button size="small" shape="round" (click)="addTeam()"> add team</ion-button>
  </div>
  <div *ngIf="!isTeam">
    <p>
      {{display.teamName}}
    </p>

        <div class="card" *ngFor="let item of players" (click)="viewPlayer()">
            <img src="https://image.businessinsider.com/5c13e188b3c21d151e336e54?width=1200&format=jpeg">
            <div class="details">
              <div>
                  <p style="font-size: 4vw;"><b>Tobba Yiuri</b></p>
                  <p><b>28 Jul, 1992</b></p>
                  <p>Defender</p>
                  <p>3 m tall</p>
                  <p>Played for Droggo Team</p>
                  <p>Best Defender</p>
              </div>
            </div>
          </div>


   
  </div>
    </div>
  </div>

</ion-content>