<div class="container">
  <form [formGroup]="authForm">
    <ion-item>
      <ion-label position="stacked">Phone number</ion-label>
      <ion-input formControlName="email" type="email" placeholder="Your email address" [class.invalid]="!authForm.controls['email'].valid &&
        authForm.controls['email'].touched">
      </ion-input>
    </ion-item>
    <ion-item class="error-message" *ngIf="!authForm.controls['email'].valid &&
         authForm.controls['email'].touched">
      <ion-label>Please enter valid numbers .</ion-label>
    </ion-item>
  
    <ion-button (click)="submitCredentials(authForm)" expand="block" [disabled]="!authForm.valid">
      {{ actionButtonText }}
    </ion-button>
  </form>

</div>