.container {
    width: 100%;
    height: 100%;
    background: url(../../../assets/popover_bg.jpg);
    background-size: cover;
    background-position: center;
    display: flex;
    align-items: center;
    .recaptcha-container {
        position: absolute;
        top: 0;
        bottom: 0;
        left: 0;
        right: 0;
        z-index: 500;
    }
    form {
        text-align: center;
        color: white !important;
        width: 90%;
        margin: auto;
        backdrop-filter: blur(50px);
        border-radius: 10px;
        box-shadow: 0px 3px 3px #17171738;
        max-height: 90vh;
        overflow-y: auto;
        ion-list {
            background: none !important;
            color: white !important;
        }
        p {
            font-size: 3vw;
        }
        hr {
            background: rgba(255, 255, 255, 0.411);
        }
        .button {
            margin: 20px 0px;
        }
    }
}
.close {
    position: absolute;
    top: 0;
    right: 0;
    z-index: 200;
}