<ion-header>
  <ion-toolbar>
    <ion-title>registerpage</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
    <div id="recaptcha-container"></div>
    <form  [formGroup]="registrationForm" (ngSubmit)="addUser(registrationForm.value)">
        <ion-label stacked>Phone Number</ion-label>
        <ion-input formControlName="phoneNumber" type="text" [(ngModel)]="phoneNumber"></ion-input>

        <ion-label stacked>fullName</ion-label>
        <ion-input formControlName="fullName" type="text" [(ngModel)]="fullName"></ion-input>
      
        <ion-list>
          <ion-radio-group formControlName="role"  [(ngModel)]="role">
            <ion-list-header>
              <ion-label>Register as:</ion-label>
            </ion-list-header>
      
            <ion-item>
              <ion-label>Team manager</ion-label>
              <ion-radio slot="start" value="teamManager" checked></ion-radio>
            </ion-item>
      
            <ion-item>
              <ion-label>Vendor</ion-label>
              <ion-radio slot="start" value="vendor"></ion-radio>
            </ion-item>
          </ion-radio-group>
        </ion-list>
      <ion-button id="sign-in-button" type="submit" class="form-buttons" [disabled]="!registrationForm.valid"  >
        Sign In
      </ion-button>
      </form>
</ion-content>
